<!doctype html>
<html lang="en" style="visibility:hidden">
<head>
    <meta charset="utf-8">
    <title>Signing in…</title>
    <script>
        (function () {
            const tabKey = {{ tab_key | tojson }};
            const nextUrl = {{ next_url | tojson }};

            try {
                if (tabKey) sessionStorage.setItem(tabKey, "1");
            } catch (e) {}

            if (nextUrl) {
                window.location.replace(nextUrl);
            } else {
                // last resort: go to /trainer
                window.location.replace("/trainer");
            }
        })();
    </script>
    <noscript>
        <meta http-equiv="refresh" content="0;url=/trainer">
    </noscript>
</head>
<body></body>
</html>